@{
    ViewData["Title"] = "Home Page";
}

<div style="width:100%; height:30%; background-color:darkgrey;position:relative; ">
    <div style="width:180px;position:absolute;bottom:0px;">
        <img src="http://fakeimg.pl/180x180/">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 id="Username"></h2>
        <ul>
        </ul>
    </div>

    <div class="col-md-6">
        <ul>
            <li>姓名:</li>
            <li>性別:</li>
            <li>城市:</li>
            <li>生日:</li>
            <li>工作:</li>
            <li>興趣:</li>
            自我介紹:<br>
            <span id="introduce"></span>
        </ul>
    </div>
    
</div>
