@model IEnumerable<WaterCool.Models.Friendship>

 
<h2>@ViewData["Title"]</h2>



<div style="clear:right; height:100%; ">
    <div style="width:30%;overflow-y:scroll;height:100%;float:left;">
        @foreach(var fsl in Model)
        {
            <div style="height:70px;">
                <a style="text-decoration:none;" href="#">
                    <div style="border: solid 1px; border-color:darkgrey; height:70px;padding-left:10px;" id=@Html.DisplayFor(mfsl => fsl.friend_id) onclick="communication(this.id)">
                        <div style="font-size:25px;float:left;color:black; overflow-x: hidden;">@Html.DisplayFor(mfsl => fsl.fri_name)</div> 
                        <br><span id = "unreadCount" style="margin-right:10px;float:right;"class="badge-red"></span><br>
                        <div style="color:darkgray; overflow-x:hidden;"></div>
                        <script>
                            var id = @Html.DisplayFor(mfsl => fsl.friend_id);
                            var d = getMsg(id, 1);
                            var n = d.length;
                            if(d.length>0){
                                $("#"+id+" div:eq(1)").html(d[0].text);
                            }
                        </script>
                    </div>
                    <br>
                </a>
            </div>
        }
    </div>
    <div id="content" style="height:100%;float:left; width:70%;">
        <input type="hidden" id = "userId">
        <div id="showmsg" style="padding-left:10px;padding-right:10px;word-wrap:break-word; height:95%;width:100%; border: solid 1px; margin-bottom: 5px; overflow-y:scroll;"><div style="height:100px; text-align:center;margin-top:50% ">請選擇聊天對象</div>
            
        </div>
        <textarea style="overflow-y:scroll;resize: none; height:5%;width:100%" type ="text" id="message" placeholder="請輸入訊息" disabled></textarea>
    </div>
    
</div>
@section scripts {
    <script>
        $("#message").focus(function(){
            $("#showmsg").scrollTop($("#showmsg").prop("scrollHeight"));
        });
        function communication(id){
            if($("#message").prop('disabled') == true){
                $("#message").removeAttr("disabled");
                document.getElementById('showmsg').innerHTML = "";
            }
            
            var uid = $("#userId");
            var obj = $("#"+id)
            var unread = $("#"+ id +" span:eq(0)");
            if(unread.html() > 0){
                unread.html("");
            }
            if(uid.val() == ""){
                obj.css("background-color", "rgba(182, 169, 169, 0.555)");
            }else{
                var beWhiteDivId = uid.val();
                $("#"+beWhiteDivId).css("background-color", "white");
                obj.css("background-color", "rgba(182, 169, 169, 0.555)");
            }
            var aaa = $("#"+id+" div").html();
            $("#showmsg").html("");
            $("#showmsg").append('<div style="position: absolute; width:61%; background-color: black; color:white;" id="who" >'+ aaa +'</div><br><br>');
            var data = getMsg( id, 10); 
            var result = makeMsgBox(data, id);
            uid.val(id);
            $("#showmsg").append(result);
            $("#showmsg").scrollTop($("#showmsg").prop("scrollHeight"));
            
            
        }
        function getMsg( id, num){
             /*$.post("http://localhost:5000/Friends/getMessage", {from : id , num : num},  function(data, status){
                callback( data);
            });*/
            var d = $.ajax({
                type: 'POST',
                url: '/Friends/getMessage',
                data: { 'from': id , 'num' :num },
                async:   false
            }).responseText;
            return JSON.parse(d);
        }
        function makeMsgBox( m, from){
            var res ="";
            if(m.fromId>0){
                if($("#userId").val() == from){
                    res += "<div class='otherMsg'><span class='msgText'> " + m.text + "</span><br><br>"+m.date+"</div>";
                }else{
                    res += "<div class='myMsg'><span class='msgText'>" +  m.text +  "</span><br><br>"+m.date+"</div>";
                }
            }else{
                for(i in m){
                    var f = m[i].fromId;
                    if(m[i].fromId == from){
                        res += "<div class='otherMsg'><span class='msgText'>  " + m[i].text + "</span><br><br>"+m[i].date+"</div>";
                    }else{
                        res += "<div class='myMsg'><span class='msgText'>" +  m[i].text +  "</span><br><br>"+m[i].date+"</div>";
                    }
                }
            }
            return res;
        }

        $(function () {
            
            let hubConnection = new signalR.HubConnection('/chat');
            $('#message').keypress(function(e){
                var code = (e.code ? e.code : e.which);
                if(code == 13 && !e.shiftKey){
                    send();
                    e.preventDefault();
                }
            });
            
            function send()
            {
                var msg =   $('#message').val();
                var id = $("#userId").val();
                if(msg == ""){
                    return ;
                }
                hubConnection.invoke('Send', id, msg);
            }

            hubConnection.on('Send', model => 
            {
                var div = $("#showmsg");
                if( model.fromId != $("#userId").val() )
                {
                    var unread = $("#"+model.fromId +" span:eq(0)");
                    //var unread = $("#unreadCount");
                    var count = unread.html();
                    if(count > 0){
                        count++;
                    }else{
                        count = 1;
                    }
                    unread.html(count);
                }else{
                    var res = makeMsgBox(model, model.fromId);
                    //div.append("<span style='font-size:20px;'>" + model.fromName + " : " + model.text + "<span><br>");
                    //div.append(model.date+"<br>");
                    div.append(res);
                    div.scrollTop(div.prop("scrollHeight"));
                }
                var lastM = $("#"+model.fromId+" div:eq(1)");
                lastM.html(model.text);
                
            });
            hubConnection.on('SendMyself', model => 
            {
                var div = $("#showmsg");
                    var res = makeMsgBox(model, model.fromId);
                    div.append(res);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
                    var lastM = $("#"+model.toId+" div:eq(1)");
                    lastM.html(model.text);
            });
            hubConnection.on('UserNotOline', data => 
            {
                var div = $("#showmsg");
                    div.append(data);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
            });
            hubConnection.start();
        });
    </script>
}
