@model IEnumerable<WaterCool.Models.Friendship>

 
<h2>@ViewData["Title"]</h2>



<div style="clear:right; height:800px; ">
    <div style="width:30%;overflow-y:scroll;height:100%;float:left;">
        @foreach(var fsl in Model)
        {
            <div style="height:70px;">
                <a style="text-decoration:none;" href="#">
                    <div style="border:solid 1px; height:70px;padding-left:10px;border:solid 1px;" id=@Html.DisplayFor(mfsl => fsl.friend_id) onclick="communication(this.id)">
                        <div style="font-size:25px;float:left;">@Html.DisplayFor(mfsl => fsl.fri_name)</div> 
                        <br><span id = "unreadCount" style="margin-right:10px;float:right;"class="badge"></span><br>
                        <span style=":10px;padding-left:10px;"></span>
                        <script>
                            var id = @Html.DisplayFor(mfsl => fsl.friend_id);
                            var d = getMsg(id, 1);
                            $("#"+id+" span:eq(1)").html(d[0].text);
                        </script>
                    </div>
                    <br>
                </a>
            </div>
        }
    </div>
    <div id="content" style="height:100%;float:left; width:70%;">
        <input type="hidden" id = "userId">
        <div id="showmsg" style=" height:95%;width:100%; border: solid 1px; margin-bottom: 5px; overflow-y:scroll;"><div style="height:100px; text-align:center;margin-top:50% ">請選擇聊天對象</div>
            
        </div>
        <input style="width:90%" type ="text" id="message" placeholder="請輸入訊息" disabled>
        <input type="button" id="send" value="send"  disabled> 
    </div>
    
</div>
@section scripts {
    <script>
        function communication(id){
            if($("#message").prop('disabled') == true){
                $("#message").removeAttr("disabled");
                $("#send").removeAttr("disabled");
                document.getElementById('showmsg').innerHTML = "";
            }
            
            var uid = $("#userId");
            var obj = $("#"+id)
            var unread = $("#"+ id +" span:eq(0)");
            if(unread.html() > 0){
                unread.html("");
            }
            if(uid.val() == ""){
                obj.css("background-color", "rgba(182, 169, 169, 0.555)");
            }else{
                var beWhiteDivId = uid.val();
                $("#"+beWhiteDivId).css("background-color", "white");
                obj.css("background-color", "rgba(182, 169, 169, 0.555)");
            }
            var aaa = $("#"+id+" div").html();
            $("#showmsg").html("");
            $("#showmsg").append('<div style="position: absolute; width:61%; background-color: black; color:white;" id="who" >'+ aaa +'</div>');
            var data = getMsg( id, 10); 
            var result="";
            for(var i in data){
                result += "<h3>" + data[i].fromName + " : " + data[i].text + "</h3>" + data[i].date;
            };
            $("#showmsg").append(result);
            
            
            uid.val(id);
            
        }
        function getMsg( id, num){
             /*$.post("http://localhost:5000/Friends/getMessage", {from : id , num : num},  function(data, status){
                callback( data);
            });*/
            var d = $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/Friends/getMessage',
                data: { 'from': id , 'num' :num },
                async:   false
            }).responseText;
            return JSON.parse(d);
        }

        $(function () {
            
            let hubConnection = new signalR.HubConnection('/chat');
            $('#message').keypress(function(e){
                var code = (e.code ? e.code : e.which);
                if(code == 13){
                    send();
                }
            });
            $("#send").click(send);
            
            function send()
            {
                var msg =   $('#message').val();
                var id = $("#userId").val();
                if(msg == ""){
                    return ;
                }
                hubConnection.invoke('Send', id, msg);
            }

            hubConnection.on('Send', model => 
            {
                var div = $("#showmsg");
                if( model.fromId != $("#userId").val() )
                {
                    var unread = $("#"+model.fromId +" span:eq(0)");
                    var lastM = $("#"+model.fromId+" span:eq(1)");
                    //var unread = $("#unreadCount");
                    var count = unread.html();
                    if(count > 0){
                        count++;
                    }else{
                        count = 1;
                    }
                    unread.html(count);
                    lastM.html(model.text);
                }else{
                    div.append("<h3>" + model.fromName + " : " + model.text + "</h3>");
                    div.append(model.date);
                    div.scrollTop(div.prop("scrollHeight"));
                }
            });
            hubConnection.on('SendMyself', model => 
            {
                var div = $("#showmsg");
                    div.append("<h3>" + model.fromName + " : " + model.text + "</h3>");
                    div.append(model.date);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
            });
            hubConnection.on('UserNotOline', data => 
            {
                var div = $("#showmsg");
                    div.append(data);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
            });
            hubConnection.start();
        });
    </script>
}
