@model IEnumerable<WaterCool.Models.Friendship>
@{
    ViewData["Title"] = "Friends";
}
 
<h2>@ViewData["Title"]</h2>


<p>Use this area to provide additional information.</p>

    @foreach(var fsl in Model)
    {
        <div class="panel panel-default">
            <a href=""><div id=@Html.DisplayFor(mfsl => fsl.friend_id) class="panel-body"> @Html.DisplayFor(mfsl => fsl.fri_name) </div></a>
            <a href="/"><div  class="panel-body"> 檢視好友資料 </div></a>
        </div>
       
    }
