@model IEnumerable<WaterCool.Models.Friendship>

 
<h2>@ViewData["Title"]</h2>



<div style="clear:right; height:800px; ">
    <div style="width:30%;overflow-y:scroll;height:100%;float:left;">
        <ul class="nav nav-tab">
        @foreach(var fsl in Model)
        {
            <li >
                <a href="#"><h4><div id=@Html.DisplayFor(mfsl => fsl.friend_id) onclick="communication(this.id)"> @Html.DisplayFor(mfsl => fsl.fri_name) </div></h4>
                    <span style=" color:dimgray" id="newMsg">這邊會顯示新訊息</span>
                </a>
                
            </li>
        
        }
        </ul>
    </div>
    <div id="content" style="height:100%;float:left; width:70%;">
        <input type="hidden" id = "userId">
        <div id="showmsg" style="height:95%;width:100%; border: solid 1px; margin-bottom: 5px; overflow-y:scroll;"><div style="height:100px; text-align:center;margin-top:50% ">請選擇聊天對象</div>
            <div style="width:100; background-color: black; color:white; " id="who" ></div>
        </div>
        <input style="width:90%" type ="text" id="message" placeholder="請輸入訊息" disabled>
        <input type="button" id="send" value="send"  disabled> 
    </div>
    
</div>
@section scripts {
    <script>
        function communication(id){
            if($("#message").prop('disabled') == true){
                $("#message").removeAttr("disabled");
                $("#send").removeAttr("disabled");
                document.getElementById('showmsg').innerHTML = "";
                
            }
            userId.value = id;
        }

        $(function () {
            
            //let hubUrl = 'http://localhost:5000/chat';
            //let httpConnection = new signalR.HttpConnection(hubUrl);
            let hubConnection = new signalR.HubConnection('/chat');
            $('#message').keypress(function(e){
                var code = (e.code ? e.code : e.which);
                if(code == 13){
                    send();
                }
            });
            $("#send").click(send);
            
            function send()
            {
                var msg =   $('#message').val();
                var id = $("#userId").val();
                if(msg == ""){
                    return ;
                }
                hubConnection.invoke('Send', id, msg);
            }

            hubConnection.on('Send', model => 
            {
                var div = $("#showmsg");
                if( model.fromId != $("#userId").val() )
                {
                    var unread = $("#unreadCount");
                    var count = unread.html();
                    if(count > 0){
                        count++;
                    }else{
                        count = 1;
                    }
                    unread.html(count);
                }else{
                    div.append("<h3>" + model.fromName + " : " + model.text + "</h3>");
                    div.append(model.date);
                    div.scrollTop(div.prop("scrollHeight"));
                }
            });
            hubConnection.on('SendMyself', model => 
            {
                var div = $("#showmsg");
                    div.append("<h3>" + model.fromName + " : " + model.text + "</h3>");
                    div.append(model.date);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
            });
            hubConnection.on('UserNotOline', data => 
            {
                var div = $("#showmsg");
                    div.append(data);
                    div.scrollTop(div.prop("scrollHeight"));
                    $("#message").val("");
            });
            hubConnection.start();
        });
    </script>
}
