body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.myMsg{
    width:100%;
    text-align:right;
    padding: 5px;
}
.otherMsg{
    width:100%;
    text-align:left;
    padding: 5px;
}
.msgText{
    padding:10px;
    border-radius: 15px;
    background-color: black;
    color: white;
    display: inline-flex;
}
.badge-red {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: red;
    border-radius: 10px;
    }
.badge-red:empty{
    display: none ;
}
footer{
    height:30px;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    bottom: 0px;
    left: 0px;
    text-align:center;
    background-color:gainsboro;
}
.PostCard{
    padding: 10px;
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
.PostAuth{
    width: 100%;
    font-size: 15px;
}
#PostCotainer{
   padding: 10px;
   overflow-y: scroll;
   height: 100%;
}
.PostContent{
    padding-left: 10px;
    width:100%;
    display: inline-block;
}
.PostBtn{
    width:100%;
    float:left;
    text-align: center;
    background-color: white;
    border:none;
    
}
.PostBtn:hover{
    background-color: black;
    color:white;
}
.PostBtn:active{
    background-color: aqua;
    border:none;
}
.PostBtn:focus{
    border:none;
    outline: none;
}
.PostDate{
    color: rgb(143, 143, 143);
}
#PostCommand{
    height:20px;
}
#PostLike{
}
.reInpt{
    width:95%;
}
